In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/delhi-house-price-prediction/MagicBricks.csv

In [2]:
df=pd.read_csv('/kaggle/input/delhi-house-price-prediction/MagicBricks.csv')
df.head(10)

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0
5,1300.0,4,3.0,Semi-Furnished,Rohini Sector 24,1.0,15500000,Ready_to_move,New_Property,Builder_Floor,6667.0
6,1350.0,4,3.0,Semi-Furnished,Rohini Sector 24,1.0,10000000,Ready_to_move,Resale,Builder_Floor,6667.0
7,650.0,2,2.0,Semi-Furnished,"Delhi Homes, Rohini Sector 24",1.0,4000000,Ready_to_move,New_Property,Apartment,6154.0
8,985.0,3,3.0,Unfurnished,Rohini Sector 21,1.0,6800000,Almost_ready,New_Property,Builder_Floor,6154.0
9,1300.0,4,4.0,Semi-Furnished,Rohini Sector 22,1.0,15000000,Ready_to_move,New_Property,Builder_Floor,6154.0

In [3]:
df.describe()

,Area,BHK,Bathroom,Parking,Price,Per_Sqft
count,1259.000000,1259.000000,1257.000000,1226.000000,1.259000e+03,1018.000000
mean,1466.452724,2.796664,2.556086,1.935563,2.130670e+07,15690.136542
std,1568.055040,0.954425,1.042220,6.279212,2.560115e+07,21134.738568
min,28.000000,1.000000,1.000000,1.000000,1.000000e+06,1259.000000
25%,800.000000,2.000000,2.000000,1.000000,5.700000e+06,6364.000000
50%,1200.000000,3.000000,2.000000,1.000000,1.420000e+07,11291.500000
75%,1700.000000,3.000000,3.000000,2.000000,2.550000e+07,18000.000000
max,24300.000000,10.000000,7.000000,114.000000,2.400000e+08,183333.000000

In [4]:
df.shape

(1259, 11)

In [5]:
df.isnull().sum()

Area             0
BHK              0
Bathroom         2
Furnishing       5
Locality         0
Parking         33
Price            0
Status           0
Transaction      0
Type             5
Per_Sqft       241
dtype: int64

# ****Dropping rows containing null values and the column 'Per_Sqft'

In [6]:
df_new=df.drop(columns=['Per_Sqft'])
df_drop=df_new.dropna()
df_new.isnull().sum()

Area            0
BHK             0
Bathroom        2
Furnishing      5
Locality        0
Parking        33
Price           0
Status          0
Transaction     0
Type            5
dtype: int64

# Applying target encoding on locality

In [7]:
target_encoding = df_drop.groupby('Locality')['Price'].mean()

# Replace 'locality' with the mean house price for that locality
df_drop['Locality_encoded'] = df_drop['Locality'].map(target_encoding)

print(df_drop)

         Area  BHK  Bathroom      Furnishing  \
0       800.0    3       2.0  Semi-Furnished
1       750.0    2       2.0  Semi-Furnished
2       950.0    2       2.0       Furnished
3       600.0    2       2.0  Semi-Furnished
4       650.0    2       2.0  Semi-Furnished
...       ...  ...       ...             ...
1254   4118.0    4       5.0     Unfurnished
1255   1050.0    3       2.0  Semi-Furnished
1256    875.0    3       3.0  Semi-Furnished
1257    990.0    2       2.0     Unfurnished
1258  11050.0    3       3.0     Unfurnished

                                               Locality  Parking     Price  \
0                                      Rohini Sector 25      1.0   6500000
1                J R Designers Floors, Rohini Sector 24      1.0   5000000
2                   Citizen Apartment, Rohini Sector 13      1.0  15500000
3                                      Rohini Sector 24      1.0   4200000
4     Rohini Sector 24 carpet area 650 sqft status R...      1.0   6200000
...                                                 ...      ...       ...
1254                                  Chittaranjan Park      3.0  55000000
1255                                  Chittaranjan Park      3.0  12500000
1256                                  Chittaranjan Park      3.0  17500000
1257                          Chittaranjan Park Block A      1.0  11500000
1258                                  Chittaranjan Park      1.0  18500000

             Status   Transaction           Type  Locality_encoded
0     Ready_to_move  New_Property  Builder_Floor      6.550000e+06
1     Ready_to_move  New_Property      Apartment      7.864516e+06
2     Ready_to_move        Resale      Apartment      1.550000e+07
3     Ready_to_move        Resale  Builder_Floor      9.820000e+06
4     Ready_to_move  New_Property  Builder_Floor      6.200000e+06
...             ...           ...            ...               ...
1254  Ready_to_move  New_Property  Builder_Floor      2.692174e+07
1255  Ready_to_move        Resale  Builder_Floor      2.692174e+07
1256  Ready_to_move  New_Property  Builder_Floor      2.692174e+07
1257  Ready_to_move        Resale  Builder_Floor      1.150000e+07
1258  Ready_to_move  New_Property  Builder_Floor      2.692174e+07

[1225 rows x 11 columns]

/tmp/ipykernel_17/4103779450.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['Locality_encoded'] = df_drop['Locality'].map(target_encoding)

In [8]:
from sklearn.model_selection import train_test_split
X=df_drop.drop(columns=['Price'])
y=df_drop.iloc[:,6]
X.sample(5)

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Status,Transaction,Type,Locality_encoded
1230,1250.0000,3,3.0,Semi-Furnished,"Arya Chittaranjan Park, Chittaranjan Park",1.0,Almost_ready,New_Property,Builder_Floor,2.550000e+07
205,1150.0000,3,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,Ready_to_move,New_Property,Builder_Floor,7.864516e+06
629,1600.0000,3,3.0,Semi-Furnished,"Ashirwad Apartments, Dwarka",1.0,Ready_to_move,Resale,Apartment,1.560000e+07
933,650.0000,2,2.0,Unfurnished,"Dilshad Colony, Dilshad Garden",1.0,Ready_to_move,Resale,Builder_Floor,6.273333e+06
525,904.1676,2,2.0,Furnished,"Taj Enclave, Khairatabad",1.0,Ready_to_move,New_Property,Apartment,2.150000e+07

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [10]:
df['Furnishing'].value_counts()

Furnishing
Semi-Furnished    708
Unfurnished       363
Furnished         183
Name: count, dtype: int64

In [11]:
rows_with_nan = X.isnull().any(axis=1).sum()
rows_with_nan

0

In [12]:
X_train.isnull().sum()

Area                0
BHK                 0
Bathroom            0
Furnishing          0
Locality            0
Parking             0
Status              0
Transaction         0
Type                0
Locality_encoded    0
dtype: int64

In [13]:
X_train

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Status,Transaction,Type,Locality_encoded
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,Ready_to_move,Resale,Apartment,1.550000e+07
542,2600.0,4,4.0,Semi-Furnished,Saket,3.0,Ready_to_move,New_Property,Builder_Floor,3.715714e+07
376,500.0,2,1.0,Semi-Furnished,Laxmi Nagar,1.0,Ready_to_move,Resale,Builder_Floor,5.352000e+06
277,3150.0,4,4.0,Semi-Furnished,"Kailash Colony, Greater Kailash",3.0,Ready_to_move,Resale,Builder_Floor,4.436552e+07
815,1350.0,3,3.0,Unfurnished,Mehrauli,1.0,Ready_to_move,New_Property,Builder_Floor,4.923810e+06
...,...,...,...,...,...,...,...,...,...,...
366,900.0,3,2.0,Semi-Furnished,Laxmi Nagar,1.0,Ready_to_move,Resale,Builder_Floor,5.352000e+06
731,1000.0,2,2.0,Furnished,"DDA Flats Sarita Vihar, Sarita Vihar Pocket K",2.0,Ready_to_move,Resale,Apartment,1.436667e+07
445,900.0,2,2.0,Furnished,"Baljit Nagar, Patel Nagar",1.0,Ready_to_move,Resale,Builder_Floor,1.550000e+06
177,1300.0,4,4.0,Semi-Furnished,Rohini Sector 22,1.0,Ready_to_move,New_Property,Builder_Floor,1.150000e+07
1178,900.0,3,2.0,Semi-Furnished,"Giri Nagar, KalkaJi",2.0,Ready_to_move,Resale,Apartment,6.600000e+06

In [14]:
X['Status'].value_counts()

Status
Ready_to_move    1152
Almost_ready       73
Name: count, dtype: int64

In [15]:
X['Furnishing'].value_counts()

Furnishing
Semi-Furnished    695
Unfurnished       350
Furnished         180
Name: count, dtype: int64

In [16]:
X['Locality'].value_counts()

Locality
Lajpat Nagar 3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  33
J R Designers Floors, Rohini Sector 24                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          31
Lajpat Nagar 2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  31
Yamuna Vihar, Shahdara                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          29
Kailash Colony, Greater Kailash                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 29
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ..
Safdarjung Enclave carpet area 290 sqyrd status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing West overlooking Main Road car parking 2 Open bathroom 4 balcony 3 ownership Freehold Opposite Deer Park.The property comes with independent Terrace. The area is centrally located and close to ring road which allows easy acess to all other areas.Renowned Delhi Lawn Tennis Association is within 10 minutes walking distance.Green park market is walkable distance. read more Contact Owner View Phone No. Share Feedback Owner Hemant pajankar                                                 1
Safdarjung Enclave carpet area 1450 sqft status Ready to Move floor 3 out of 4 floors transaction Resale furnishing Semi-Furnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered, 1 Open bathroom 3 balcony 2 ownership Freehold Park facing builder floor apartment available for sale in safderjung enclave, 3 bedroom with attached bathroom, drawing dinning, modular kitchen. the property is on the top floor of a four storey building with terrace right, servant quarter, 1 car parking in stilt. read more Contact Agent View Phone No. Share Feedback Agent Delhi Homes Realty 1000+ Buyers Served     1
Safdarjung Enclave super area 2200 sqft status Ready to Move floor 2 out of 4 floors transaction New Property furnishing Semi-Furnished facing South overlooking Main Road car parking 3 Covered, 2 Open bathroom 4 balcony 3 ownership Freehold Newly Constructed Property Wide Road 450 Yards 2nd floor brand new 4 bhk attached bathrooms with full lighted and ventilated house.Most Valuable DealSEE TO BELIEVE read more Contact Agent View Phone No. Share Feedback Crisil Bronze Agent Panchsheel Homes 500+ Buyers Served                                                                                                               1
Paschim Vihar Block B2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
Chittaranjan Park Block A                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: count, Length: 353, dtype: int64

# Applying ordinal encoding on furinshing

In [17]:
from sklearn.preprocessing import OrdinalEncoder

encoder=OrdinalEncoder(categories=[['Unfurnished','Semi-Furnished','Furnished']])

X_train['Furnishing']=encoder.fit_transform(X_train[['Furnishing']])
X_test['Furnishing']=encoder.transform(X_test[['Furnishing']])

In [18]:
X_train

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Status,Transaction,Type,Locality_encoded
2,950.0,2,2.0,2.0,"Citizen Apartment, Rohini Sector 13",1.0,Ready_to_move,Resale,Apartment,1.550000e+07
542,2600.0,4,4.0,1.0,Saket,3.0,Ready_to_move,New_Property,Builder_Floor,3.715714e+07
376,500.0,2,1.0,1.0,Laxmi Nagar,1.0,Ready_to_move,Resale,Builder_Floor,5.352000e+06
277,3150.0,4,4.0,1.0,"Kailash Colony, Greater Kailash",3.0,Ready_to_move,Resale,Builder_Floor,4.436552e+07
815,1350.0,3,3.0,0.0,Mehrauli,1.0,Ready_to_move,New_Property,Builder_Floor,4.923810e+06
...,...,...,...,...,...,...,...,...,...,...
366,900.0,3,2.0,1.0,Laxmi Nagar,1.0,Ready_to_move,Resale,Builder_Floor,5.352000e+06
731,1000.0,2,2.0,2.0,"DDA Flats Sarita Vihar, Sarita Vihar Pocket K",2.0,Ready_to_move,Resale,Apartment,1.436667e+07
445,900.0,2,2.0,2.0,"Baljit Nagar, Patel Nagar",1.0,Ready_to_move,Resale,Builder_Floor,1.550000e+06
177,1300.0,4,4.0,1.0,Rohini Sector 22,1.0,Ready_to_move,New_Property,Builder_Floor,1.150000e+07
1178,900.0,3,2.0,1.0,"Giri Nagar, KalkaJi",2.0,Ready_to_move,Resale,Apartment,6.600000e+06

# Applying one hot encoding on 'Status','Transaction','Type'

In [19]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

column_transformer = ColumnTransformer(
    transformers=[
        ('Onehot', OneHotEncoder(sparse=False,drop='first'), ['Status','Transaction','Type']),
    ],
    remainder='passthrough' 
)

In [20]:
X_train

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Status,Transaction,Type,Locality_encoded
2,950.0,2,2.0,2.0,"Citizen Apartment, Rohini Sector 13",1.0,Ready_to_move,Resale,Apartment,1.550000e+07
542,2600.0,4,4.0,1.0,Saket,3.0,Ready_to_move,New_Property,Builder_Floor,3.715714e+07
376,500.0,2,1.0,1.0,Laxmi Nagar,1.0,Ready_to_move,Resale,Builder_Floor,5.352000e+06
277,3150.0,4,4.0,1.0,"Kailash Colony, Greater Kailash",3.0,Ready_to_move,Resale,Builder_Floor,4.436552e+07
815,1350.0,3,3.0,0.0,Mehrauli,1.0,Ready_to_move,New_Property,Builder_Floor,4.923810e+06
...,...,...,...,...,...,...,...,...,...,...
366,900.0,3,2.0,1.0,Laxmi Nagar,1.0,Ready_to_move,Resale,Builder_Floor,5.352000e+06
731,1000.0,2,2.0,2.0,"DDA Flats Sarita Vihar, Sarita Vihar Pocket K",2.0,Ready_to_move,Resale,Apartment,1.436667e+07
445,900.0,2,2.0,2.0,"Baljit Nagar, Patel Nagar",1.0,Ready_to_move,Resale,Builder_Floor,1.550000e+06
177,1300.0,4,4.0,1.0,Rohini Sector 22,1.0,Ready_to_move,New_Property,Builder_Floor,1.150000e+07
1178,900.0,3,2.0,1.0,"Giri Nagar, KalkaJi",2.0,Ready_to_move,Resale,Apartment,6.600000e+06

In [21]:
X_train1=X_train

In [22]:
X_train_transformed=column_transformer.fit_transform(X_train1)
X_test_transformed=column_transformer.transform(X_test)
X_train_transformed

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1.0, 1.0, 0.0, ..., 'Citizen Apartment, Rohini Sector 13', 1.0,
        15500000.0],
       [1.0, 0.0, 1.0, ..., 'Saket', 3.0, 37157142.85714286],
       [1.0, 1.0, 1.0, ..., 'Laxmi Nagar', 1.0, 5352000.0],
       ...,
       [1.0, 1.0, 1.0, ..., 'Baljit Nagar, Patel Nagar', 1.0, 1550000.0],
       [1.0, 0.0, 1.0, ..., 'Rohini Sector 22', 1.0, 11500000.0],
       [1.0, 1.0, 0.0, ..., 'Giri Nagar, KalkaJi', 2.0, 6600000.0]],
      dtype=object)

# Dropping first column of 'Status','Transaction','Type' after applying one hot encoding

In [23]:
X_train_transformed=pd.DataFrame(X_train_transformed,columns=['Status','Transaction','Type','Area','BHK','Bathroom','Furnishing','Locality','Parking','Locality_encoded'])
X_test_transformed=pd.DataFrame(X_test_transformed,columns=['Status','Transaction','Type','Area','BHK','Bathroom','Furnishing','Locality','Parking','Locality_encoded'])
X_test_transformed

,Status,Transaction,Type,Area,BHK,Bathroom,Furnishing,Locality,Parking,Locality_encoded
0,1.0,0.0,1.0,2050.0,3,3.0,1.0,"Hauz Khas Enclave, Hauz Khas",2.0,76812500.0
1,1.0,0.0,1.0,900.0,3,3.0,1.0,"Govindpuri Extension, Kalkaji",1.0,6855555.555556
2,1.0,1.0,1.0,2400.0,6,4.0,2.0,Budh Vihar Phase 2,1.0,6100000.0
3,1.0,1.0,1.0,450.0,2,1.0,1.0,Laxmi Nagar,1.0,5352000.0
4,1.0,0.0,1.0,1900.0,3,4.0,1.0,Chittaranjan Park,2.0,26921739.130435
...,...,...,...,...,...,...,...,...,...,...
240,1.0,1.0,0.0,1150.0,2,2.0,2.0,"DDA Flats Sarita Vihar, Sarita Vihar, Mathura ...",2.0,14736842.105263
241,1.0,1.0,1.0,600.0,2,2.0,0.0,Laxmi Nagar,1.0,5352000.0
242,1.0,0.0,1.0,750.0,2,2.0,0.0,Lajpat Nagar 4,1.0,10700000.0
243,1.0,1.0,1.0,1350.0,3,3.0,1.0,Lajpat Nagar 3,1.0,31842424.242424
244,1.0,1.0,0.0,900.0,2,1.0,2.0,Budh Vihar,1.0,4137500.0

In [24]:
X_train_transformed_drop_locality=X_train_transformed.drop(columns=['Locality'])
X_test_transformed_drop_locality=X_test_transformed.drop(columns=['Locality'])
X_test_transformed_drop_locality

,Status,Transaction,Type,Area,BHK,Bathroom,Furnishing,Parking,Locality_encoded
0,1.0,0.0,1.0,2050.0,3,3.0,1.0,2.0,76812500.0
1,1.0,0.0,1.0,900.0,3,3.0,1.0,1.0,6855555.555556
2,1.0,1.0,1.0,2400.0,6,4.0,2.0,1.0,6100000.0
3,1.0,1.0,1.0,450.0,2,1.0,1.0,1.0,5352000.0
4,1.0,0.0,1.0,1900.0,3,4.0,1.0,2.0,26921739.130435
...,...,...,...,...,...,...,...,...,...
240,1.0,1.0,0.0,1150.0,2,2.0,2.0,2.0,14736842.105263
241,1.0,1.0,1.0,600.0,2,2.0,0.0,1.0,5352000.0
242,1.0,0.0,1.0,750.0,2,2.0,0.0,1.0,10700000.0
243,1.0,1.0,1.0,1350.0,3,3.0,1.0,1.0,31842424.242424
244,1.0,1.0,0.0,900.0,2,1.0,2.0,1.0,4137500.0

# Not dropping first column of 'Status','Transaction','Type' after one hot encoding

In [25]:
column_transformer = ColumnTransformer(
    transformers=[
        ('Onehot', OneHotEncoder(sparse=False), ['Status','Transaction','Type']),
    ],
    remainder='passthrough'  # Leave other columns (like 'Name') unchanged
)

X_train_transformed2=column_transformer.fit_transform(X_train1)
X_test_transformed2=column_transformer.transform(X_test)
X_train_transformed2.shape

X_train_transformed2=pd.DataFrame(X_train_transformed2,columns=['Status_rtm','Status_ar','Transaction_resale','Transaction_new_property','Type_apartment','Type_building_floor','Area','BHK','Bathroom','Furnishing','Locality','Parking','Locality_encoded'])
X_test_transformed2=pd.DataFrame(X_test_transformed2,columns=['Status_rtm','Status_ar','Transaction_resale','Transaction_new_property','Type_apartment','Type_building_floor','Area','BHK','Bathroom','Furnishing','Locality','Parking','Locality_encoded'])
X_test_transformed2

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Status_rtm,Status_ar,Transaction_resale,Transaction_new_property,Type_apartment,Type_building_floor,Area,BHK,Bathroom,Furnishing,Locality,Parking,Locality_encoded
0,0.0,1.0,1.0,0.0,0.0,1.0,2050.0,3,3.0,1.0,"Hauz Khas Enclave, Hauz Khas",2.0,76812500.0
1,0.0,1.0,1.0,0.0,0.0,1.0,900.0,3,3.0,1.0,"Govindpuri Extension, Kalkaji",1.0,6855555.555556
2,0.0,1.0,0.0,1.0,0.0,1.0,2400.0,6,4.0,2.0,Budh Vihar Phase 2,1.0,6100000.0
3,0.0,1.0,0.0,1.0,0.0,1.0,450.0,2,1.0,1.0,Laxmi Nagar,1.0,5352000.0
4,0.0,1.0,1.0,0.0,0.0,1.0,1900.0,3,4.0,1.0,Chittaranjan Park,2.0,26921739.130435
...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,0.0,1.0,0.0,1.0,1.0,0.0,1150.0,2,2.0,2.0,"DDA Flats Sarita Vihar, Sarita Vihar, Mathura ...",2.0,14736842.105263
241,0.0,1.0,0.0,1.0,0.0,1.0,600.0,2,2.0,0.0,Laxmi Nagar,1.0,5352000.0
242,0.0,1.0,1.0,0.0,0.0,1.0,750.0,2,2.0,0.0,Lajpat Nagar 4,1.0,10700000.0
243,0.0,1.0,0.0,1.0,0.0,1.0,1350.0,3,3.0,1.0,Lajpat Nagar 3,1.0,31842424.242424
244,0.0,1.0,0.0,1.0,1.0,0.0,900.0,2,1.0,2.0,Budh Vihar,1.0,4137500.0

In [26]:
X_train_transformed2_drop_locality=X_train_transformed2.drop(columns=['Locality'])
X_test_transformed2_drop_locality=X_test_transformed2.drop(columns=['Locality'])

# Training the model using random forest

In [27]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
rfr=RandomForestRegressor(n_estimators=100,bootstrap=True,min_samples_split=3)

rfr.fit(X_train_transformed2_drop_locality,y_train)

y_pred1=rfr.predict(X_test_transformed2_drop_locality)
print(r2_score(y_test,y_pred1))

0.9102943854003462

# Using Decision tree

In [28]:
from sklearn.tree import DecisionTreeRegressor

dtr=DecisionTreeRegressor(min_samples_leaf=2)
dtr.fit(X_train_transformed2_drop_locality,y_train)

y_pred2=dtr.predict(X_test_transformed2_drop_locality)
print(r2_score(y_test,y_pred2))

0.8530964927058852

# Using linear regressor

In [29]:
from sklearn.linear_model import LinearRegression

lr=LinearRegression()
lr.fit(X_train_transformed_drop_locality,y_train)

y_pred3=lr.predict(X_test_transformed_drop_locality)
print(r2_score(y_test,y_pred3))

0.8452139851658217

# Using gradient boosting

In [30]:
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor(n_estimators=150, learning_rate=0.05, max_depth=4, random_state=42)
gbr.fit(X_train_transformed2_drop_locality,y_train)

y_pred4=gbr.predict(X_test_transformed2_drop_locality)
print(r2_score(y_test,y_pred4))

0.9230259169305924

# Using grid search cv

In [31]:
from sklearn.model_selection import GridSearchCV

# Define a parameter grid to search for best hyperparameters
param_grid = {
    'n_estimators': [100,150, 200, 300],
    'learning_rate': [0.01, 0.1, 0.05],
    'max_depth': [3, 4, 5]
}

# Initialize the GridSearch with cross-validation
grid_search = GridSearchCV(GradientBoostingRegressor(random_state=42), param_grid, cv=5, n_jobs=-1,scoring='r2')

# Fit the model with different hyperparameters
grid_search.fit(X_train_transformed2_drop_locality, y_train)

# Best parameters found
print("Best parameters: ", grid_search.best_params_)

Best parameters:  {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 100}